* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f1f2f3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.navbar {
  background: #f1f2f3;
  padding: 12px;
}

.nav-center {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.nav-center a {
  padding: 6px 14px;
  border-radius: 8px;
  transition: background  0.3s , easecolor 0.3s ease;
   text-decoration: none;
  color: #171616;
  font-size: 16px;
  font-weight: 400;
}
.nav-center a:hover {
  background: rgba(157, 148, 148, 0.05);
  color: #1c1c1d;
}
.offer {
  background: #f1f2f3;
  text-align: center;
  padding: 12px;
  font-size: 14px;
}


.store-header {
  padding: 40px 20px;
}

.store-header h1 {
  font-size: 36px;
  font-weight: 500;
}

.store-header span {
  color: #0071e3;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.product {
  background: #f5f5f7;
  width: 260px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px;
}

.product h3 {
  margin-top: 10px;
  font-size: 18px;
}

.product p {
  font-size: 14px;
  color: #555;
}

.product {
  transition: 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

.product {
  box-shadow: 0 4px 10px rgba(5,0,0,0.15);
}

.footer {
  background: #f5f5f7;
  text-align: center;
  padding: 3px;
  font-size: 14px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .store-header h1 {
    font-size: 26px;
  }
  .product {
    width: 100%;
  }
}
